* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  
  body {
    justify-content: space-between;
    min-width: 300px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Palatino';
    font-size: 19px;
    font-weight: 500;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
  }
  
  .header {
    background-color: #82a4b5;
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  .nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    color: rgb(0, 0, 0); 
  }
  
  .main {
    margin-bottom: auto;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .section {
    width: calc(50% - 20px);
    padding: 15px;
    padding-bottom: 30px;
  }
  
  .pre {
  width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 14px;
	line-height: 20px;
	background: #cbdfe8;
	border: 1px solid #777;
  }
  
  .pre-code{
  padding: 10px;
	color: #333;
  }

.section-profile-logo {
  height: 250px;
  width: 220px;
}
  
  .section-list {
    margin: 0;
    padding: 0;  
    list-style: none;
  }
  
  .section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }
  
 a {
    text-decoration: none;
    color: #82a4b5;
    transition: color 0.5s;
  }
  
a:hover {
  border-bottom: 1px dashed black;
  }
  
  .footer {
    background-color: #82a4b5;
    padding: 20px;  
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: rgb(0, 0, 0);
  }
  
  .rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/svg/rsschool.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }